第七章：数据清洗和准备

In [1]:
#缺失值处理
# dropna fillna isnull notnull
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(7,3))
df.iloc[:4,1] = np.nan
df.iloc[:2,2] = np.nan
print(df)
print(df.dropna())
print('-------至少有两个非null值-------')
print(df.dropna(thresh=2))

          0         1         2
0  1.681284       NaN       NaN
1 -1.442503       NaN       NaN
2  0.519685       NaN  0.147602
3  0.560483       NaN -0.252289
4 -1.022623  1.854754 -0.430305
5 -1.383528 -0.590053  1.282154
6 -0.190624 -0.270314  0.581623
          0         1         2
4 -1.022623  1.854754 -0.430305
5 -1.383528 -0.590053  1.282154
6 -0.190624 -0.270314  0.581623
-------至少有两个非null值-------
          0         1         2
2  0.519685       NaN  0.147602
3  0.560483       NaN -0.252289
4 -1.022623  1.854754 -0.430305
5 -1.383528 -0.590053  1.282154
6 -0.190624 -0.270314  0.581623

In [7]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})
print(data)
print(data.drop_duplicates())#去除重复值
print(data.drop_duplicates('k1'))#指定列

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4
    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
    k1  k2
0  one   1
1  two   1

In [9]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
print(data)
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}
l = data['food'].str.lower()
print(l)

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0
0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [29]:
data['animal'] = l.map(meat_to_animal)
print(data['animal'])
print(data)
print(' \n---------这个需要注意！--------')
print(data['food'].map(lambda x: meat_to_animal[x.lower()]))

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: animal, dtype: object
          food  ounces annimal  animal
0        bacon     4.0     pig     pig
1  pulled pork     3.0     pig     pig
2        bacon    12.0     pig     pig
3     Pastrami     6.0     cow     cow
4  corned beef     7.5     cow     cow
5        Bacon     8.0     pig     pig
6     pastrami     3.0     cow     cow
7    honey ham     5.0     pig     pig
8     nova lox     6.0  salmon  salmon

---------这个需要注意！--------
0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

In [33]:
#replace(_, _)缺失值替换
data = pd.Series([1., -999., 2., -999., -1000., 3.])
print(data)
print(data.replace(-999,np.nan))

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64
0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [5]:
#重命名轴索引
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=['Ohio', 'Colorado', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
print(data)
print(data.index.map(lambda x:x[:4].upper()))#为什么x.index不行？
print(data.index.map(lambda x:x.upper()))

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11
Index(['OHIO', 'COLO', 'NEW '], dtype='object')
Index(['OHIO', 'COLORADO', 'NEW YORK'], dtype='object')

In [45]:
#不改变原始数据（rename）
print(data.rename(index = str.title,columns=str.upper))#为什么upper后面没有括号？
#结合字典为DF的index或者columns做更新
print(data.rename(index = {'Ohio':'china'},columns = {'one':'999'}))

          ONE  TWO  THREE  FOUR
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11
          999  two  three  four
china       0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [53]:
#分箱
#按给定数值分箱
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18,25,35,60,100]
cats = pd.cut(ages,bins)#默认参数right=True，表示右闭
#参数labels=None，设置每个箱子的名称
print(cats)
print(pd.value_counts(cats))#分箱并计数
name = ['青年','老青年','中年','老年']
cats = pd.cut(ages,bins,labels = name)
print(cats)
print(cats.value_counts())

#给定分箱数（按最大值最小值分成X分）
cats2 = pd.cut(ages,4,precision=2)#precision=3为默认小数位数
print(cats2)

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]
(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64
[青年, 青年, 青年, 老青年, 青年, ..., 老青年, 老年, 中年, 中年, 老青年]
Length: 12
Categories (4, object): [青年 < 老青年 < 中年 < 老年]
青年     5
老青年    3
中年     3
老年     1
dtype: int64
[(19.96, 30.25], (19.96, 30.25], (19.96, 30.25], (19.96, 30.25], (19.96, 30.25], ..., (30.25, 40.5], (50.75, 61.0], (40.5, 50.75], (40.5, 50.75], (30.25, 40.5]]
Length: 12
Categories (4, interval[float64]): [(19.96, 30.25] < (30.25, 40.5] < (40.5, 50.75] < (50.75, 61.0]]

In [57]:
#qcut平均分箱（各箱分到的数量相等）
data = np.random.randn(1000)
q = pd.qcut(data,4)
print(q)
print(q.value_counts())

#自定义分位数进行分箱
print('-------------------------')
qq = pd.qcut(data,[0,0.3,0.6,0.8,1])
print(qq)
print(qq.value_counts())

[(-3.202, -0.62], (-0.62, -0.00173], (0.668, 3.086], (-3.202, -0.62], (-3.202, -0.62], ..., (-0.62, -0.00173], (-3.202, -0.62], (-0.00173, 0.668], (-0.00173, 0.668], (0.668, 3.086]]
Length: 1000
Categories (4, interval[float64]): [(-3.202, -0.62] < (-0.62, -0.00173] < (-0.00173, 0.668] < (0.668, 3.086]]
(-3.202, -0.62]      250
(-0.62, -0.00173]    250
(-0.00173, 0.668]    250
(0.668, 3.086]       250
dtype: int64
-------------------------
[(-3.202, -0.463], (-3.202, -0.463], (0.858, 3.086], (-3.202, -0.463], (-3.202, -0.463], ..., (-0.463, 0.226], (-3.202, -0.463], (0.226, 0.858], (0.226, 0.858], (0.858, 3.086]]
Length: 1000
Categories (4, interval[float64]): [(-3.202, -0.463] < (-0.463, 0.226] < (0.226, 0.858] < (0.858, 3.086]]
(-3.202, -0.463]    300
(-0.463, 0.226]     300
(0.226, 0.858]      200
(0.858, 3.086]      200
dtype: int64

In [73]:
#数据筛选（head,describe,索引）
data = pd.DataFrame(np.random.randn(1000, 4))
print(data.head())
print(data.describe())
print('\n-------绝对值超过3--------')
print(data[2][np.abs(data[2]>2.5)])
print(data[np.abs(data>2.9).any(1)])#一行有一个大于2.9

#np.sign()>0为1，<0为-1，=0为0
print('\n----------np.sign()----------')
print(np.sign(data).head())

          0         1         2         3
0  0.191531  1.704239  0.762717  0.310504
1 -1.794049 -0.324764  0.873629  0.639122
2  0.744673 -0.167354  0.633558 -0.977478
3 -1.703347  1.365912  0.599722 -1.038155
4 -0.941783 -1.974592  1.185909 -1.266179
                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.037906    -0.008802     0.028403     0.038240
std       0.987402     0.964608     1.027383     0.984970
min      -3.136410    -3.057125    -3.103321    -3.006679
25%      -0.739791    -0.676635    -0.696651    -0.611580
50%      -0.034236    -0.034096     0.079155     0.072739
75%       0.664204     0.602460     0.710581     0.697560
max       3.005693     3.272524     3.544557     3.150065

-------绝对值超过3--------
272    2.691457
302    2.689896
319    3.006450
352    3.544557
512    2.582805
781    3.488572
796    2.509568
806    2.563748
840    3.100788
904    3.114882
Name: 2, dtype: float64
            0         1         2         3
18  -0.670193 -0.710064  1.386036  3.150065
191  0.147131 -0.385239  1.090256  3.139260
319 -0.069602  1.280899  3.006450  0.282771
352 -1.035294 -0.759822  3.544557 -1.507551
486  3.005693 -0.758412 -0.631464  1.768851
654  0.149690  3.272524  0.377507  1.405751
781 -0.869085 -0.159470  3.488572 -0.938583
840 -0.317534  0.444399  3.100788  0.750785
904  1.394213  0.718592  3.114882  0.559153

----------np.sign()----------
     0    1    2    3
0  1.0  1.0  1.0  1.0
1 -1.0 -1.0  1.0  1.0
2  1.0 -1.0  1.0 -1.0
3 -1.0  1.0  1.0 -1.0
4 -1.0 -1.0  1.0 -1.0

In [13]:
#随机抽样
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
print(df)
s = np.random.permutation(5)#取源数据中的X个数据进行随机排序
print(s)
print(df.sample(n=3))
print('\n--------take--------')
print(df.take(s))
print('\n--------iloc--------')
print(df.iloc[[2,1,0,4,3]])
#df.take(s)等价于df.iloc[[2,1,0,4,3]

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19
[2 4 1 3 0]
    0   1   2   3
4  16  17  18  19
3  12  13  14  15
0   0   1   2   3

--------take--------
    0   1   2   3
2   8   9  10  11
4  16  17  18  19
1   4   5   6   7
3  12  13  14  15
0   0   1   2   3

--------iloc--------
    0   1   2   3
2   8   9  10  11
1   4   5   6   7
0   0   1   2   3
4  16  17  18  19
3  12  13  14  15

In [22]:
#计算指标（）get_dummies
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})
print(df)
print(pd.get_dummies(df['key']))
d = pd.get_dummies(df['key'],prefix = 'key')
print(d)
# du = df['data1'].join(d) 
# 上面式子出错 AttributeError: 'Series' object has no attribute 'join'
#df['data1']是series，所以没有join方法
print('\n-----------join------------')
du = df[['data1']].join(d)
print(du)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5
   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0
   key_a  key_b  key_c
0      0      1      0
1      0      1      0
2      1      0      0
3      0      0      1
4      1      0      0
5      0      1      0

-----------join------------
   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [35]:
#计算指标（）get_dummies应用
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table(r'C:\Users\123\Desktop/movies.dat', sep='::',
                       header=None, names=mnames,engine='python')
print(movies[:10])
all_genres = []
for i in movies['genres']:
    all_genres.extend(i.split('|'))
genres = pd.unique(all_genres) 
print('\n-------genres列表--------\n')
print(genres)
print(type(genres))

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

-------genres列表--------

['Animation' "Children's" 'Comedy' 'Adventure' 'Fantasy' 'Romance' 'Drama'
 'Action' 'Crime' 'Thriller' 'Horror' 'Sci-Fi' 'Documentary' 'War'
 'Musical' 'Mystery' 'Film-Noir' 'Western']
<class 'numpy.ndarray'>

In [57]:
#构建全零矩阵
zeros_matrix = np.zeros((len(movies),len(genres)))#注意这里
# np.zeros(())两层括号
print(zeros_matrix)
dummies = pd.DataFrame(zeros_matrix,columns = genres)
print(dummies.head(2))

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
   Animation  Children's  Comedy  Adventure  Fantasy  Romance  Drama  Action  \
0        0.0         0.0     0.0        0.0      0.0      0.0    0.0     0.0
1        0.0         0.0     0.0        0.0      0.0      0.0    0.0     0.0

   Crime  Thriller  Horror  Sci-Fi  Documentary  War  Musical  Mystery  \
0    0.0       0.0     0.0     0.0          0.0  0.0      0.0      0.0
1    0.0       0.0     0.0     0.0          0.0  0.0      0.0      0.0

   Film-Noir  Western
0        0.0      0.0
1        0.0      0.0

In [59]:
gen = movies['genres'][0]
print(gen)
a = gen.split('|')
print(a) 
dummies.columns.get_indexer(a)

Animation|Children's|Comedy
['Animation', "Children's", 'Comedy']

array([0, 1, 2], dtype=int64)

In [86]:
for i, gen in enumerate(movies['genres']):
    indices = dummies.columns.get_indexer(a)
    dummies.iloc[i,indices] = 1
    
movies_windic = movies.join(dummies.add_prefix('Genre_'))   
movies_windic.head()

,movie_id,title,genres,Genre_Animation,Genre_Children's,Genre_Comedy,Genre_Adventure,Genre_Fantasy,Genre_Romance,Genre_Drama,...,Genre_Crime,Genre_Thriller,Genre_Horror,Genre_Sci-Fi,Genre_Documentary,Genre_War,Genre_Musical,Genre_Mystery,Genre_Film-Noir,Genre_Western
0,1,Toy Story (1995),Animation|Children's|Comedy,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),Comedy|Romance,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),Comedy|Drama,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),Comedy,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
#这种是单维度的，一行只有一个1，目标是一行多个1(上面)
du = pd.DataFrame(genres)
print(du.head())
pd.get_dummies(du[0]).head()

            0
0   Animation
1  Children's
2      Comedy
3   Adventure
4     Fantasy

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [93]:
# 练习一下
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table(r'C:\Users\123\Desktop/movies.dat', sep='::',
                       header=None, names=mnames,engine='python')
print(movies[:3])
genres = []
for i in movies['genres']:
    genres.extend(i.split('|'))
    
genres_list = pd.unique(genres)
print(genres_list)  
movies_matrix = np.zeros((len(movies),len(genres_list)))
movies_matrix2 = pd.DataFrame(movies_matrix,columns = genres_list)
print(movies_matrix2.head(2))

for i, gen in enumerate(movies['genres']):
    indices = movies_matrix2.columns.get_indexer(gen.split('|'))
    movies_matrix2.iloc[i,indices] = 1

end = movies.join((movies_matrix2))
end.head()

#1,通过movies表genres列提取columnsX（去重）
#2,构造0矩阵，列名设为columnsX
#3,利用enumerate(),iloc(),把每一行相应的列的值取为1
#4,原表join(改造后的0矩阵表)
#5,成功！

   movie_id                    title                        genres
0         1         Toy Story (1995)   Animation|Children's|Comedy
1         2           Jumanji (1995)  Adventure|Children's|Fantasy
2         3  Grumpier Old Men (1995)                Comedy|Romance
['Animation' "Children's" 'Comedy' 'Adventure' 'Fantasy' 'Romance' 'Drama'
 'Action' 'Crime' 'Thriller' 'Horror' 'Sci-Fi' 'Documentary' 'War'
 'Musical' 'Mystery' 'Film-Noir' 'Western']
   Animation  Children's  Comedy  Adventure  Fantasy  Romance  Drama  Action  \
0        0.0         0.0     0.0        0.0      0.0      0.0    0.0     0.0
1        0.0         0.0     0.0        0.0      0.0      0.0    0.0     0.0

   Crime  Thriller  Horror  Sci-Fi  Documentary  War  Musical  Mystery  \
0    0.0       0.0     0.0     0.0          0.0  0.0      0.0      0.0
1    0.0       0.0     0.0     0.0          0.0  0.0      0.0      0.0

   Film-Noir  Western
0        0.0      0.0
1        0.0      0.0

,movie_id,title,genres,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,...,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,1,Toy Story (1995),Animation|Children's|Comedy,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),Comedy|Romance,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),Comedy|Drama,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [94]:
#字符串对象方法
a = 'a,b ,c'
p = [x.strip() for x in a.split(',')]
print(p)

['a', 'b', 'c']

In [102]:
#正则表达式
# re模块
import re
t = 'a    d   \nc'
s = re.split('\s+',t)
print(s)
# re.complie()可生成一个可复用对象
mothed = re.compile('\s+')
a = re.split(mothed,t)
# 等价于
b = mothed.split(t)
print(a,b)

['a', 'd', 'c']
['a', 'd', 'c'] ['a', 'd', 'c']

In [105]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'
red = re.compile(pattern,flags=re.IGNORECASE)
red.findall(text)
#又是版本问题

AttributeError: 're.Pattern' object has no attribute 'compile'

In [115]:
#向量化字符串函数
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}

data = pd.Series(data)
print(data)
data.str.contains('gmail')
#向量化切片
print('\n---------普通切片----------')
print(data[:2])
print('\n----------向量化切片(str)----------')
data.str[:2]

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

---------普通切片----------
Dave     dave@google.com
Steve    steve@gmail.com
dtype: object

----------向量化切片(str)----------

Dave      da
Steve     st
Rob       ro
Wes      NaN
dtype: object

In [120]:
print(data.str.get(1))#获得第几个字符
print(data.str[1])
#data.str.get(1)等价于data.str[1]

Dave       a
Steve      t
Rob        o
Wes      NaN
dtype: object
Dave       a
Steve      t
Rob        o
Wes      NaN
dtype: object